version: 2.1
orbs:
  slack: circleci/slack@4.1.0
jobs:
  tests:
    macos:
      xcode: 12.1.0
    environment:
      FL_OUTPUT_DIR: output
      FASTLANE_LANE: tests
    steps:
      - checkout
      - run: bundle install
      - run:
          name: Fastlane
          command: bundle exec fastlane $FASTLANE_LANE
      - store_artifacts:
          path: output
      - store_test_results:
          path: output/scan
      - slack/notify:
          event: fail
          template: basic_fail_1
      - slack/notify:
          event: always
          template: success_tagged_deploy_1
          tag_pattern: .+

  build-demo-swift:
    macos:
      xcode: 12.1.0
    environment:
      FL_OUTPUT_DIR: output
      FASTLANE_LANE: demo_swift
    steps:
      - checkout
      - run: bundle install
      - run:
          name: Fastlane
          command: bundle exec fastlane $FASTLANE_LANE
      - store_artifacts:
          path: output
      - slack/notify:
          event: fail
          template: basic_fail_1
      - slack/notify:
          event: pass
          template: success_tagged_deploy_1
          tag_pattern: .+

  build-demo-objc:
    macos:
      xcode: 12.1.0
    environment:
      FL_OUTPUT_DIR: output
      FASTLANE_LANE: demo_objc
    steps:
      - checkout
      - run: bundle install
      - run:
          name: Fastlane
          command: bundle exec fastlane $FASTLANE_LANE
      - store_artifacts:
          path: output
      - slack/notify:
          event: fail
          template: basic_fail_1
      - slack/notify:
          event: pass
          template: success_tagged_deploy_1
          tag_pattern: .+

workflows:
  untagged-build:
    jobs:
      - tests:
          context: slack-secrets
      - build-demo-swift:
          requires:
            - tests
          context: slack-secrets
      - build-demo-objc:
          requires:
            - tests
          context: slack-secrets
  release-build:
    jobs:
      - tests:
          context: slack-secrets
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^([0-9]+)\.([0-9]+)\.([0-9]+)(?:-([0-9A-Za-z-]+(?:\.[0-9A-Za-z-]+)*))?(?:\+[0-9A-Za-z-]+)?$/
      - build-demo-swift:
          requires:
            - tests
          context: slack-secrets
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^([0-9]+)\.([0-9]+)\.([0-9]+)(?:-([0-9A-Za-z-]+(?:\.[0-9A-Za-z-]+)*))?(?:\+[0-9A-Za-z-]+)?$/
      - build-demo-objc:
          requires:
            - tests
          context: slack-secrets
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^([0-9]+)\.([0-9]+)\.([0-9]+)(?:-([0-9A-Za-z-]+(?:\.[0-9A-Za-z-]+)*))?(?:\+[0-9A-Za-z-]+)?$/
